body {
    font-family: "Fira Sans", serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #F1F1F3;
}

/* banner styles */
.banner {
    background-color: #C6E4D6;
    margin: 117px 59px;
    border-radius: 20px;
    background-size: cover;
    display: flex;


}

.title h3 {
    font-size: 24px;
    color: #5a5757;
    margin-bottom: 5px;
}

.title h1 {
    font-size: 56px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 20px;
}

.title {
    max-width: 50%;
    padding: 59px 117px;
}

.hero {
    margin-top: 80px;
    margin-right: 59px;
}

.button {
    margin-top: 15px;
    padding: 17px 34px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
}

h1 h3 button {
    margin: 117px 59px;
}

/* Pillars of Bangladesh */
.all-pillars {
    margin-left: 80px;
}

.pillars {
    display: flex;
    gap: 24px;
    color: #494848;
    padding: 24px;
    margin: 20px 0px;

}

.pillars-box {
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #fff;

}

/* The Vision of Future */
.all-vision {
    margin-left: 50px;
    max-width: 100%;
}

.all-vision h1 {
    margin-left: 30px;
    font-size: 40px;

}

.all-vision p {
    margin-left: 30px;
    color: #494848;
}

.vision {
    display: flex;
    gap: 24px;
    color: #494848;
    padding: 24px;
    margin: 20px 0px;





}

.vision-box1 {
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #548ff53b;

}

.vision-box2 {
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #09a15d41;

}

.vision-box3 {
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #ffc4393a;
}

.btn1 {
    background-color: #5490F5;
    padding: 11px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-top: 26px;
}

.btn2 {

    background-color: #09A15C;
    padding: 11px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.btn3 {
    background-color: #FFC239;
    padding: 11px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

/* Quate Section Styles */
.quate {
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #fff;
    color: #5a5757;
    margin: 32px 30px 32px 80px;
}

.quate-text {
    background-image: url('./assets/quote-bg.png');
    background-repeat: no-repeat;




}

.quate h3 {
    font-size: 20px;
    font-weight: bold;
    color: #444141;
}

/* news card-1 style */
.news-card-1 {
    display: flex;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #fff;

}

.news-card-1 button {
    padding: 13px 26px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #006A50;
}

.satelite {
    border-radius: 20px;
}

.recent-news {
    padding: 24px;
    margin-left: 60px;

}

.news h1 {
    font-size: 40px;
}

.news p {
    color: #5a5757;
    margin-top: 50px;
}

.card-1 {
    padding: 48px 32px 48px 48px;

}

.card-2 {
    padding: 56px 48px 56px 32px;
    width: 50%;
}

.card-2 h1 {
    font-size: 32px;
    font-weight: 700;
    color: #5a5757;
}

.card-2 p {
    color: #5a5757;


}

.card-2 button {
    padding: 13px 26px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    border: none;
    outline: none;
    border-radius: 8px;
}

.satelite {
    margin-top: 50px;
}

/* news card-2 style */
.news-card-2 {
    display: flex;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #fff;
    margin-top: 20px;

}

.news-card-2 button {
    padding: 13px 26px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #006A50;
}



/* donate style */
.donate h1 {
    font-size: 40px;
    font-weight: bold;
}

.donate p {
    color: #5a5757;
}

.donate h1,
p {
    text-align: center;
    justify-content: center;
}

.donate {
    margin-left: 70px;
}

.donate button {
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    margin-left: 30px;
    color: #5a5757;

}

.donate button:hover {
    background-color: #C6E4D6;
}

.box {
    padding: 20px 422px;
    margin-left: 60px;
    outline: none;
    border: none;
    margin-top: 20px;

}

#but {
    font-size: large;
    color: #5a5757;
}

.donate-now button {
    padding: 17px 34px;
    margin: 32px 60px 80px;
    margin-left: 450px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #006A50;

}

.donate-now button:hover {
    background-color: #0c7c4aea;
}